# Logs
logs
*.log
npm-debug.log*

# Build outputs
dist/

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm


# dotenv environment variables file
.env
.env.*

# VS Code IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS metadata
.DS_Store
Thumbs.db

# Misc
.cache/